.app {
    background-color: #fff;
    height: 100%;
    
    width: 100%;
    max-width: 600px;

    margin: 0 auto;
    
    border-radius: 20px;
    overflow: hidden;
}

.app_header {
    background-color: #28A7E0;
    height: 110px;
    padding: 24px;
    display: inline-flex;
    width: 100%;
    

}

.app_input {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding-left: 24px;
    padding-right: 24px;
    outline: none;
    border-style: none;
    color: #2E2E2E;
    
}

.app_button {
    background-color: #1F88B7;
    border-radius: 20px;
    padding: 20px 24px;
    margin-left: 11px;
    color: white;
    width: 80px;
    outline: none;
    border-style: none;
    
}

.app_button_name {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;

}

.app_body {
    
}

.app_body_entry {
    width: 100%;
    height: 63px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E8E8E8;  
    padding: 20px 46px 21px 42px; 
}

.app_body_entry:hover {
    background: #28A7E01A;
}

.app_body_entry_checkbox {
    
}

.app_body_entry_name {
    margin-left: 17px;
    color: #2E2E2E;
    
}