
.app_body_entry_outside {
    padding: 0 24px;

}

.app_body_entry {
    width: 100%;
    height: 63px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E8E8E8;  
    padding: 20px 24px 20px 24px; 
    display: flex;
    justify-content: space-between;
    
}

.app_body_entry_outside:hover {
    background: #28A7E01A;
}

.app_body_entry_checkbox {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    height: 0;
    width: 0;  
    
}

.newCheckbox {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    z-index: 10;
    border-style: solid;
    border-width: 2px;
    border-color: #464646;
  
    
}
.app_body_entry_checkbox:checked ~ .newCheckbox {
    background-image: url(tick.svg);
    background-repeat: no-repeat;
    background-position: 40% 55%;
    background-size: 80%;
}


.app_body_entry_name {
    margin-left: 42px;
    max-width: 100%;
    color: #2E2E2E;
    position: absolute;
    outline: none;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}

.app_body_entry_checkbox:checked ~ .app_body_entry_name {
    text-decoration: line-through;
}

.app_body_entry_delete {
    background-image: url(trash-can.svg); 
    height: 18px;
    width: 14px;
    float: right;
    outline: none;
    border-style: none;
    
}

.app_body_entry_delete:hover {
 cursor: pointer;
}

